.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 1.5fr;
  grid-template-areas:
  "grid-item1 content1 content2 content3"
  "grid-item1 grid-item2 grid-item2 grid-item2"
  "grid-item1 grid-item2 grid-item2 grid-item2";
  grid-gap: 0.5rem;
  text-align: center;
  font-size: medium;
  
  

}
.grid-item1 {
  background:blue;
  grid-area: grid-item1;
  

}

.grid-item2 {
  background:red;
  grid-area: grid-item2;

}

#content1 {
  background: yellow;
  grid-area: content1;
}

#content2 {
  background:green;
  grid-area: content2;
}

#content3 {
  background: orange;
  grid-area: content3;
}
